.logo-container {
  letter-spacing: 0.4rem;
  font-size: 3rem;
  font-weight: 500;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f8f9fa;
  width: 100%;
}
.nav-list {
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  list-style: none;
}
li {
  cursor: pointer;
  transition: color 0.3s ease;
}

li a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease; /* or whatever color you want for the hover effect */
}
li a:hover {
  color: #1c9012; /* change to your preferred hover color */
}

.active-link {
  font-weight: bold;
  line-height: 1rem;
  color: #1c9012; /* or whatever color you want for the active tab */
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.5rem;
}
